<footer class="mt-auto border-top bg-light">
    <div class="container my-4" style="font-size: 15px; text-align: center;">
        <p><a href="https://github.com/aryamoitra/lexicongreve" target="_blank"><img src="/lexicongreve/images/github-mark.svg" alt="Github logo" width="40"></a>
            <br/><br/><a href="{{ '/' | relative_url }}">{{ site.title }}</a> | {{ site.description }}
            <br/><br/>This work is available under <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">CC BY 4.0</a>.
            <br/><br/>{{ site.author }} | {{ site.year }}
        </p>
    </div>
</footer>