<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container container-narrow">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav me-auto">
                {% assign nav_pages = site.html_pages | where_exp: 'p','p.nav' | sort: 'nav_order' %}
                {% for p in nav_pages %}
                <li class="nav-item">
                    <a class="nav-link{% if page.url == p.url %} active{% endif %}" {% if page.url == p.url %}aria-current="page"{% endif %} href="{{ p.url | relative_url }}">{% if p.nav == true %}{{ p.title }}{% else %}{{ p.nav }}{% endif %}</a>
                </li>
                {% endfor %}

                <!-- Create a dropdown menu named "Analysis" and add pages to it if specified -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Analysis
                    </a>
                    <ul class="dropdown-menu" color="#000000">
                    {% assign analysis_pages = site.html_pages | where_exp: 'p', 'p.analysis_menu_nav' | sort: 'analysis_menu_nav_order' %}
                    {% for p in analysis_pages %}
                        <li><a class="dropdown-item" href="{{ p.url | relative_url }}">{{ p.analysis_menu_nav }}</a></li>
                    {% endfor %}
                    </ul>
                </li>

                <!-- Create an About page at the end -->
                <li class="nav-item">
                    <a class="nav-link{% if page.url == './about.html' %} active{% endif %}" {% if page.url == "./about.html" %}aria-current="page"{% endif %} href="./about.html">About</a>
                </li>

            </ul>
            {% if site.search == true %}
            <script>
                function site_search() {
                    var query = document.getElementById("site-search").value;
                    window.open("{{ '/search.html' | relative_url }}?q=" + encodeURIComponent(query), "_self" );
                    }
            </script>
            <form class="d-flex" onsubmit="site_search(); return false;">
                <div class="input-group">
                    <input id="site-search" class="form-control" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-primary" type="submit">{% include icon.html icon="search" label="Submit Search" %}</button>
                </div>
            </form>
            {% endif %}
        </div>
    </div>
</nav>