/* add your scss tweaks here */
/* Customise fonts */
@font-face {
    font-family: "GrenzeGotisch-SemiBold";
    src: url(../../fonts/Grenze_Gotisch/static/GrenzeGotisch-SemiBold.ttf) format('truetype');
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'STIX Two Text';
    src: url(../../fonts/STIX_Two_Text/static/STIXTwoText-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'STIX Two Text';
    src: url(../../fonts/STIX_Two_Text/static/STIXTwoText-SemiBold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'STIX Two Text';
    src: url(../../fonts/STIX_Two_Text/static/STIXTwoText-Italic.ttf) format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'STIX Two Text';
    src: url(../../fonts/STIX_Two_Text/static/STIXTwoText-SemiBoldItalic.ttf) format('ttf');
    font-weight: bold;
    font-style: italic;
}

/* Add more font-face rules for other styles as needed */
* {
   font-family: "STIX Two Text", serif;
}
body {
    font-size: 19px;
    text-align: justify;
}
.bold-text {
    font-weight: bold;
}
.italic-text {
    font-family: 'STIX Two Text', serif;
    font-style: italic;
}
.bold-italic-text {
    font-weight: bold;
    font-style: italic;
}

/* Custom class for home page title font  */
.home-page-title {
    font-family: "GrenzeGotisch-SemiBold";
}

/* Always display a vertical scrollbar */
body {
    overflow-y: scroll;
}

/* Custom container for responsive iframe */
.container-responsive-iframe {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 100%; /* Adjust padding as needed */
}

/* Style the iframe to fit in the container div with full height and width */
.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

/* Modify "Analysis" menu */
.analysis-dropdown {
    background-color: #4f4e4e;
    color: #ffffff;
}
.analysis-dropdown .dropdown-item {
    color: #ffffff;
}
.analysis-dropdown .dropdown-item:hover {
    background-color: #000000;
}
