/* add your scss tweaks here */
/* fonts */
@font-face {
    font-family: "GrenzeGotisch-SemiBold";
    src: url(../../fonts/Grenze_Gotisch/static/GrenzeGotisch-SemiBold.ttf) format('truetype');
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: "GrenzeGotisch-SemiBold";
}  
